<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AMG</title>
</head>
<body>
  <nav class="navigatiov-bar">
    <img src="/img/logo_amg.jpg" alt="">
    <ul>
      <li class="nav-item">
        <a href="#">Home</a>
      </li>
      <li class="nav-item">
        <a href="#">About</a>
      </li>
      <li class="nav-item">
        <a href="#">Iniciar Sesion</a>
      </li>
      <li class="nav-item">
        <a href="#">Contacto</a>
      </li>
    </ul>
    
  </nav>
  <section class="section-info">
    <div class="section-info-text">
      <h1>Aplicativo Moderno de Gestión (AMG)</h1>
      <p>lorem ipsum</p>
      <button class="" submit="/register">Registrarse</button>
    </div>
  </section>
  
</body>
</html>