<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styles_login.css">
  <title>Aplicacion Inventario</title>
</head>
<body>
  <form class="form-container">
    <img class="logo-empresa" src="/img/logo_amg.jpg" alt="logo_aplicacion">
    <h3>Registro de Usuarios</h3>
    <div class="form-container-input">
      <ion-icon name="person-outline" alt="logo-facebook"></ion-icon>
       <input id="name-input"  type="text" placeholder="Ingrese su nombre">
    </div>
    <p id="error-name"></p>
    <div class="form-container-input">
      <ion-icon name="mail-outline"></ion-icon> <input id="email-input"  type="email" placeholder="Ingrese su email">
    </div>
    <p id="error-email"></p>
    <div class="form-container-input">
      <ion-icon name="lock-closed-outline"></ion-icon><input id="password-input"  type="password" placeholder="Ingrese una contraseña">
    </div>
    <p id="error-password"></p>
    <a href="/login">Iniciar Sesión</a>
    <button id="send-form">Enviar</button>
  </form>

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <script src="/scripts/script_register.js" type="module"></script>
</body>
</html>